{% extends "base.html" %}
{% load static %}
{% block content %}
<div>
    <div class="banner">
        <div class="img-text heading">
            <h1 data-aos="fade-right" data-aos-duration="2000">Helping build a better home</h1>
            <ul class="sub-heading" data-aos="fade-up" data-aos-duration="1000">
                <li>Currently Working With £5.5M GDV</li>
                <li>Working With Property Ivestors</li>
                <li>Commercial, Residential & Land</li>
            </ul>
            <a data-aos="fade-up" data-aos-duration="1000" href="{% url 'contact' %}" class="btn btn-primary">Make an
                enquiry</a>
        </div>
    </div>
</div>
<hr>
<!-- About Section -->
<section>
    <div class="container">
        <div class="row">
            <div class="row about">
                <div class="col-md-6 col-sm-12 about-img">
                    <img src="{% static 'media/logo1.jpg' %}" alt="Company Logo">
                </div>
                <div class="col-md-6 col-sm-12 about-text">
                    <h3>
                        About Us
                    </h3>
                    <p>Here at Founder Property we have a great team with
                        a combined construction experience of over 20
                        years. We have a portfolio of over 10 properties of which all have been renovated to a
                        high standard. We are looking to expand this portfolio and bring onboard new investors to reach the maximum potential of the current market.
                    </p>
                    <p data-aos="fade-up" data-aos-duration="1500">
                        We also offer a unique approach to anyone thinking of carrying out a loft conversion,
                        house extension or renovation. We have a dedicated construction team who specialises in high-end
                        conversions, we
                        are able to draw on our years of experience and knowledge and guide our customers, correctly and
                        efficiently throughout the whole process of converting their homes.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>
<!-- Services -->
<section class="services" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
        <div class="row">
            <h3>What We Do</h3>
            <div class="col-md-3 col-sm-6">
                <a href="{% url 'services' %}">
                    <ion-icon name="brush-outline"></ion-icon>
                </a>
                <h4>Residential</h4>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="{% url 'services' %}">
                    <ion-icon name="hammer-outline"></ion-icon>
                </a>
                <h4>Commercial</h4>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="{% url 'services' %}">
                    <ion-icon name="home-outline"></ion-icon>
                </a>
                <h4>Development Projects</h4>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="{% url 'services' %}">
                    <ion-icon name="trash-bin-outline"></ion-icon>
                </a>
                <h4>Home Renovations & Extensions</h4>
            </div>
        </div>
    </div>
</section>

<!-- Latest Projects -->
<div class="container" data-aos="fade-up" data-aos-duration="1000">
    <hr>
    <div class="slider-title">
        <h3>See our Latest Projects</h3>
        <p>You can scroll through the various projects starting from the most recent.
            If you see anything on previous projects which you would like to know more about
            please feel free to get in touch.
        </p>
    </div>
    <hr>
</div>

<section class="slider">
    <div class="container project-tile">
        <div class="row latest-project">
            {% for project in projects %}
                <div class="item col-lg-4 col-md-6 img-wrapper">
                    <a href="{% url 'project_detail' project.id %}" >
                        <img src="{{ project.image.url }}" alt="{{ project.name }}">
                    </a>
                </div>
            {% endfor %}
        </div>
        <div class="arrow_prev">
            <span>
                <ion-icon name="arrow-back-sharp"></ion-icon>
            </span>
        </div>
        <div class="arrow_next">
            <span>
                <ion-icon name="arrow-forward-sharp"></ion-icon>
            </span>
        </div>
    </div>
</section>


<div class="project-banner" data-aos="fade-up" data-aos-duration="1000">
    <div class="container">
        <div class="row">
            <div class="col-md-6 discuss">
                <h3>
                    Want to discuss your next project?
                </h3>
            </div>
            <div class="col-md-6 enquiry">
                <a href="{% url 'contact' %}" class="btn btn-primary">Request a Quote</a>
            </div>
        </div>
    </div>
</div>


{% endblock %}