@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,300&family=Playfair+Display:wght@500;600;700;800;900&family=Poppins:ital,wght@0,200;0,300;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a,
a:hover {
    text-decoration: none;
}

/* Top Bar  */

.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #f35f1b;
    padding-top: 3px;
}

.top-bar span {
    color: #fff;
}

.top-bar ul {
    list-style: none;
    display: flex;
}

.top-bar li {
    margin: 0px 5px;
}

.top-bar a {
    color: #fff;
}

.top-bar a:hover {
    color: #222;
}

.top-icon {
    font-size: 27px;
}

/* Nav Bar and Logo */

nav {
    background-color: #222;
    padding: 5px;
    display: flex;
    align-items: center;
}

nav a {
    color: #fff;

}

nav a:hover {
    color: #f35f1b;
}

.logo {
    margin: 10px;
}

.title {
    flex: 1;
    text-align: center;
    position: relative;
    left: 47px;
    bottom: 10px;
    font-size: 35px;
    font-weight: 800;
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
}

.logo a {
    display: flex;
    align-items: center;
    font-size: 20px;
    flex-wrap: wrap;
}

.logo a:hover {
    color: #fff;
}

.logo img {
    width: 120px;
    margin-left: 15px;
}

.menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.menu li {
    padding: 15px 10px;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.toggle {
    font-size: 30px;
    display: none;
}

.toggle ion-icon {
    font-size: 42px;
}

/* Banners */

.banner::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .5;
    z-index: 0;
}

.banner > * {
    z-index: 10;
    position: relative;
}

.banner {
    background-image: url(https://images.pexels.com/photos/2219024/pexels-photo-2219024.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
    padding: 10vw 15vw;
    background-position: center center;
    position: relative;
}

.banner ul li {
    list-style-type: none;
}

.heading {
    position: relative;
    text-align: center;
    color: #ffff;
    font-size: 3vw;
    font-weight: 400;
}

.sub-heading {
    position: relative;
    font-size: 25px;
    color: #ffff;
    padding-left: 0px;
}

.banner span {
    text-align: center;
    position: relative;
}

.carousel-item{
    height: 80vh;
    background: no-repeat scroll bottom scroll;
    background-position: bottom center;
    background-size: cover;
}

.carousel-img {
    background-image: url(/static/media/investor.jpeg);
    width: 100%;
    background-position: center center;
}

.carousel-img2 {
    background-image: url(/static/media/residential.jpeg);
    width: 100%;
}

.carousel-img3 {
    background-image: url(/static/media/engineer.jpeg);
    width: 100%;
}

.carousel-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #222;
    opacity: 0.5;
}

.carousel-caption {
    bottom: 76px;

}

.carousel-caption h5 {
    font-size: 8vh;
    font-weight: 700;
    position: relative;
    bottom: 20px;
}

.carousel-caption p {
    font-size: 18px;
    position: relative;
    bottom: 20px;
}
/* About */

.about {
    letter-spacing: 2px;
    text-align: center;
    position: relative;
}

.about-img {
    margin-bottom: 10px;
}

.about-img img {
    width: 56%;
    margin-top: 50px;
}

.about-text {
    text-align: center;
}

/* Services Banner */


.services {
    text-align: center;
    background-image: url(/static/media/home.jpg);
    align-content: center;
    text-align: center;
    background-size: cover;
    padding: 2em;
    width: 100%;
    background-position: center center;
    margin: 0;
    color: #fff;
    min-height: 400px;
}

.services>* {
    z-index: 10;
    position: relative;
}

.services::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .4;
    z-index: 0;
}

.services ion-icon {
    color: #fff;
    background-color: #e95f1b;
    font-size: 5vw;
    border-radius: 50%;
    padding: 15px;
}

.services section {
    min-height: 400px;
}

.services ion-icon:hover {
    color: #e95f1b;
    background-color: rgba(0, 0, 0, .2);
}

.services h3 {
    margin-bottom: 50px;
    padding: 10px;
    font-size: 30px;
}

.info h3 {
    position: relative;
    color: #222;
}

.info h3::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -10px;
    align-content: center;
    background-color: #e95f1b;
    height: 2px;
    box-sizing: border-box;
    width: 125px;
}

/* Services Page */

.hide {
    display: none;
}

.info img {
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    margin: 20px 0px;
    padding: 20px;
}

.info ul {
    margin-left: 46px;
}

.info h3 {
    margin: 17px 47px;
}

.info p {
    margin-left: 65px;
}

/* make enquiry buttons */
.info a {
    margin-left: 59px;
    margin-bottom: 50px;
    padding: 8px;
    background-color: #f35f1beb;
}


.tab ul li button:hover {
    color: #f35f1b;
    transition: ease-in 1s;
}

.tab ul {
    list-style-type: none;
    margin-top: 68px;
}

.tab button {
    width: 200px;
    height: 45px;
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
    border-top: none;
    border-right: 1px rgba(0, 0, 0, 0.2) solid;
    border-left: none;
    background-color: #f7f7f7
}

.active-btn button {
    border-left: 3px #e95f1b solid;
    border-right: none;
}

.serv-section {
    background-color: #f7f7f7
}

/* Latest Projects */

.slider {
    background-color: #eaeaea;
    height: 100%;
}

.slider-title {
    background-color: #fff;
}

.slider-title h3 {
    text-align: center;
    padding-top: 20px;
}

.slider-title p {
    text-align: center;
    padding: 10px 50px;
}


.arrow_prev span {
    font-size: 33px;
    color: #f35f1b;
}

.arrow_next span {
    font-size: 33px;
    color: #f35f1b;
}

.arrows {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item {
    margin: 0px 4px;
}

.img-thumbnail {
    background-color: none;
}

.enquiry {
    text-align: center;
}

.project-banner {
    background-image: url(/static/media/construct.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.discuss {
    text-align: center;
    padding: 5vw;
    position: relative;
    color: white;
}

.enquiry {
    text-align: center;
    padding: 6vw;
    position: relative;
    top: 10px;
    color: white;
}

/*  Footer  */

.footer {
    background-color: #222;
    width: 100%;
    margin: auto;
    display: flex;

}

.footer a {
    text-decoration: none;
    color: #bbbbbb;
}

.footer ion-icon {
    margin-left: 16px;
}

.footer a:hover {
    color: #f35f1b;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.footer-col ul {
    list-style: none;
    padding-left: 0%;
}

.footer-col li {
    color: #bbbbbb;
    margin: 0px 5px;
    padding: 11px 0px;
    font-size: 18px;
    text-decoration: none;
}

.footer-col h4 {
    color: #fff;
    position: relative;
}

.footer-col h4::before {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -10px;
    align-content: center;
    background-color: #e95f1b;
    height: 2px;
    box-sizing: border-box;
    width: 80px;
}

.rights {
    color: #bbbbbb;
    text-align: center;
}

/* Services */

.service-para::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .4;
    z-index: 0;
}

.service-para>* {
    z-index: 10;
    position: relative;
}

.service-para {
    background-image: url(/static/media/plans.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    height: 300px;
    position: relative;
}

.services-title {
    position: relative;
    padding: 30px 20px;
    top: 50px;
    margin-top: 20px;
    color: #fff;
}

.intro h3 {
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    font-size: 40px;
}

.intro > hr {
    margin-top: 30px;
}

.intro p {
    text-align: center;
    font-size: 17px;
    padding: 10px 40px;

}

.message {
    height: 50px;
    margin: 20px;
}

/* Projects Page */

.project-para::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
    opacity: .4;
    z-index: 0;
}

.project-para> * {
    z-index: 10;
    position: relative;
}

.project-para {
    background-image: url(/static/media/kitchen.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    height: 300px;
    position: relative;
}

.project-title {
    position: relative;
    padding: 30px 20px;
    top: 50px;
    margin-top: 20px;
    color: #fff;
}

.project-details {
    margin: 10px;
    padding: 10px;
    position: sticky;
    top: 50px;
    background-color: #f7f7f7;
}

.project-details h4 {
    text-align: center;
    letter-spacing: 1px;
    font-weight: 400;
    text-transform: uppercase;
}

.project-details p {
    text-align: center;
}

.detail-list::marker {
    padding-left: 5px;
}

.detail-list li {
    padding: 2px 5px;
    list-style-image: url('../media/ham.jpeg');
}

.project-img img {
    width: 100%;
    margin: 10px 0px;
    padding: 10px;
}

.content {
    color: #f7f7f7
}

.project-tile {
    position: relative;
    cursor: pointer;
}

.project-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(57, 57, 57, 0.502);
    top: 0;
    left: 0;
    transform: scale(0);
    transition: all 0.2s 0.1s ease-in-out;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 5px;
    font-family: 'Lato';
    /* center overlay text */
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-tile a:hover .project-overlay {
    transform: scale(1.3);
}

.project-tile img {
    width: 300px;
    height: 300px;
    padding: 10px 5px;
}

.project-tile2 img {
    width: 100%;
    height: 300px;
    padding: 10px 5px;
}

.view img {
    background-position: center;
    background-size: cover;
    transition: 0.7s;
    width: 100%;
}

.view img:hover {
    transform: scale(1.2);
}

.popup-gallery a img {
    padding: 10px 0px;
}

.img-wrapper {
    position: relative;
    overflow: hidden;
}

.card-title {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 3px;
}

.card .row {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Contact */

.contact-para {
    background-image: url('/static/media/skyline.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    height: 300px;
}

.contact ion-icon {
    color: #222;
    background-color: #fff;
    border-radius: 50%;
    border: 2px solid #222;
    font-size: 80px;
    padding: 10px;
}

.contact-icon {
    text-align: center;
}

.contact-section {
    margin: 20px 0px;
    width: 100%;
}

.contact-section p {
    font-size: 20px;
}

.contact-image {
    width: 80%;
    margin-left: 35px;
    margin-bottom: 20px;
    margin-top: 35px;
}

.contact-text {
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.cont-sect {
    background-color: #f7f7f7;
}

.text-field textarea{
    height: 170px;
}

/*  Media Queries  */

@media screen and (max-width: 600px) {
    nav {
        display: block;
        position: relative;
    }

    .sub-heading {
        position: relative;
        font-size: 18px;
        color: #ffff;
    }

    .logo img {
        width: 75px;
        margin-left: 0px;
    }

    .logo a {
        display: flex;
        align-items: center;
        font-size: 20px;
    }

    .logo {
        margin: 10px;
        width: 223px;
    }

    .menu {
        margin-top: 15px;
        display: none;
    }

    .menu.active,
    .toggle {
        display: block;
    }

    .toggle {
        position: absolute;
        top: 15px;
        right: 20px;
    }

    .title {
        display: none;
    }

    .project-tile img {
        width: fit-content;
        height: 415px;
    }

    .slick-slide img {
        display: block;
        height: 419px;
        padding: 20px;
    }

    .info img {
        width: 100%;
        height: 100%;
        text-align: center; 
        position: relative;
    }

    .arrows {
        display: none;
    }

    .about-img img {
        width: 80%;
        margin: 20px 0px;
    }

    .about-text h3 {
        margin-bottom: 20px;
    }

    .carousel-item a {
        position: relative;
    }



}


@media screen and (max-width: 2500px) and (min-width: 800px) {
    .carousel-caption h5 {
        font-size: 8vh;
        font-weight: 700;
        position: relative;
        bottom: 150px;
    }

    .carousel-caption p {
        font-size: 3vh;
        position: relative;
        bottom: 140px;
    }

    .carousel-item a {
        position: relative;
        bottom: 130px;
    }

    .slick-slide img {
        display: block;
        height: 419px;
        padding: 20px;
        width: 100%;
    }

    .popup-gallery a img {
        width: 95%;
        margin: 10px px;
    }

}

@media screen and (max-width: 800px) {
    .title {
        display: none;
    }

    .tab {
        flex: 0 0 auto;
        width: 93%;
    }

    .info img {
        width: 100%;
        height: 100%;
        text-align: center;
        position: relative;
        margin: 20px 0px;
        padding: 20px;
    }

    .tab button {
        width: 100%;
        height: 45px;
        border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
        border-top: none;
        border-right: 1px rgba(0, 0, 0, 0.2) solid;
        border-left: none;
        background-color: #f7f7f7
    }

    .tab ul li button:hover {
        width: 100%;
    }

    .active-btn button {
        border-left: 3px #e95f1b solid;
        border-right: none;
    }

    .carousel-item {
        width: 100%;
        background: no-repeat scroll bottom-center scroll;
        background-size: cover;
        height: 400px;
    }

    .carousel-caption h5 {
        font-size: 5vh;
        font-weight: 700;
        position: relative;
        bottom: 20px;
    }

    .carousel-caption p {
        font-size: 14px;
        position: relative;
        bottom: 20px;
    }

    .carousel-item a {
        position: relative;
    }

    .carousel-caption {
        bottom: 36px;
    }

    .carousel-item img {
        max-height: 500px;
    }

    .popup-gallery a img {
        width: 95%;
        margin: 10px px;
    }

}
