{% extends "base.html" %}
{% block content %}

<div class="project-para">
    <div>
        <div class="container flex-center text-center">
            <div class="row">
                <div class="col-lg-12 col-xl-8 project-title mx-auto">
                    <h1 class="display-3 font-weight-bold " data-wow-delay="0.3s">Projects</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <hr>
        <div class="intro">
            <h2>Our Projects</h2>
            <p>Please see the previous projects that we have worked on. Here you can click on a project to see more
                information. We have tried to mix before and after images so you can get a true sense of the quality of
                work that we provide. Each project shows images as well as information about the project and the works
                carried out. </p>
        </div>
        <hr>
    </div>
</section>

<section>
    <div class="container project-tile">
        <div class="row view">
            {% for project in projects %}
            <div class="col-lg-4 col-md-6 img-wrapper">
                <a href="{% url 'project_detail' project.id %}" class="view">
                    <img src="{{ project.image.url }}" alt="{{ project.name }}">
                </a>
                <div class="content fade">
                   <p> {{ project.name }}</p>
                   
                </div>
                <p>{{ project.description }}</p>
            </div> 
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}