{% extends "base.html" %}
{% block content %}

<section>
    <div class="container">
        <hr>
        <div class="intro">
            <h2>{{ project.name }}</h2>
        </div>
        <hr>
    </div>
</section>

<section>
    <div class="container ">
        <div class="row">
            <div class="col-md-8">
                <div class="project-img">
                    <img src="{{ project.image.url }}" alt="{{ project.name }}">
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="project-details">
                    <h5>Project Details</h5>
                    <p>{{ project.description }}</p>
                    <ul class="detail-list">
                        <li>{{ project.job_details }}</li>
                        <li>{{ project.job_details1 }}</li>
                        <li>{{ project.job_details2 }}</li>
                        <li>{{ project.job_details3 }}</li>
                        <li>{{ project.job_details4 }}</li>
                        <li>{{ project.job_details5 }}</li>
                        <li>{{ project.job_details6 }}</li>
                        <li>{{ project.job_details7 }}</li>
                        <li>{{ project.job_details8 }}</li>
                        <li>{{ project.job_details9 }}</li>
                        <li>{{ project.job_details10 }}</li>
                        <li>{{ project.job_details11 }}</li>
                        <li>{{ project.job_details12 }}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}