{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container">
    <section class="col-12 text-center">
        <div class="card m-3 p-3">
            <h1>Oops! Something is not quite right it seems!</h1>
            <div class="card-body">
                <h5 class="card-title">Back to Home Page</h5>
                <a href="{% url 'home' %}" class="btn btn-primary mt-3">Home</a>
            </div>
            <img src="{% static 'media/404.jpeg' %}" class="card-img-bottom" alt="404 error image">
        </div>
    </section>
</div>

{% endblock %}.     