{% extends "base.html" %}
{% load static %}
{% block content%}

<div>
    <div class="service-para">
        <div class="container flex-center text-center">
            <div class="row">
                <div class="col-md-12 col-xl-8 services-title mx-auto">
                    <h1 class="display-3 font-weight-bold " data-wow-delay="0.3s">Services</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<section>
    <div class="container">
        <hr>
        <div class="intro">
            <h3>Our Building Services</h3>
            <p>
                We provide both residential and commercial building services. We also work with investors for land
                aquistion to develop properties from scratch, if you are interested in investing with us please get in
                touch. Please see below from
                the list of work that we offer.
            </p>
        </div>
        <hr>
    </div>
</section>

<section class="serv-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 offset-md-1 col-sm-12  tab">
                <ul>
                    <li class="active-btn" onclick="showInfo(0, 'info')">
                        <button>Refrubishments</button>
                    </li>
                    <li onclick="showInfo(1)">
                        <button>Extensions</button>
                    </li>
                    <li onclick="showInfo(2)">
                        <button>Carpentry</button>
                    </li>
                    <li onclick="showInfo(3)">
                        <button>Loft Conversions</button>
                    </li>
                    <li onclick="showInfo(4)">
                        <button>Chimney Removals</button>
                    </li>
                    <li onclick="showInfo(5)">
                        <button>Waste Removals</button>
                    </li>
                </ul>
            </div>
            <div class="col-md-7 col-sm-12 offset-md-1">
                <div class="info">
                    <div>
                        <img src="{% static 'media/refurbishment.jpg' %}" class="img-fluid" alt="Refurb image">
                    </div>
                    <h3>Refrubishments</h3>
                    <div>
                        <p>At Founder Property we do both internal and external refurbishments. We specialise in
                            completely gutting out traditional victorian houses and making new from the ground up.</p>
                        <ul>
                            <li>Plastering</li>
                            <li>Painting</li>
                            <li>Flooring</li>
                            <li>Rendering</li>
                            <li>Spotlights</li>
                            <li>Rewiring</li>
                        </ul>
                        <a href="{% url 'contact' %}" class="btn btn-large">Make an
                            Enquiry</a>
                    </div>
                </div>
                <div class="info hide">
                    <div>
                        <img src="{% static 'media/extension.jpg' %}" class="img-fluid" alt="Extension image">
                    </div>
                    <h3>Extensions</h3>
                    <div>
                        <p>We are experienced in rear and side extensions and even porches. Extensions can make a house
                            a home and provide that much wanted open plan living space. </p>
                        <ul>
                            <li>Porches</li>
                            <li>Rear Extensions</li>
                            <li>Side Extensions</li>
                            <li>Open Plan Living</li>
                            <li>Dream Kitchens</li>
                            <li>Resale Value</li>
                        </ul>
                        <a href="{% url 'contact' %}" class="btn btn-large">Make an
                            Enquiry</a>
                    </div>
                </div>
                <div class="info hide">
                    <div>
                        <img src="{% static 'media/stud-wall.jpeg' %}" class="img-fluid" alt="Carpentry image">
                    </div>
                    <h3>Carpentry</h3>
                    <div>
                        <p>Wood is one of the most important materials when building, we do all aspects of woodwork
                            ranging from first fix to ktichens and flooring. To find out more get in touch.</p>
                        <ul>
                            <li>1st & 2nd Fix</li>
                            <li>Flooring</li>
                            <li>Roofing</li>
                            <li>Stairs</li>
                            <li>Kitchens</li>
                            <li>Facias & Soffits</li>
                            <li>Skirting</li>
                        </ul>
                        <a href="{% url 'contact' %}" class="btn btn-large">Make an
                            Enquiry</a>
                    </div>
                </div>
                <div class="info hide">
                    <div>
                        <img src="{% static 'media/loft.jpg' %}" class="img-fluid" alt="Loft image2">
                    </div>
                    <h3>Loft Conversion</h3>
                    <div>
                        <p>We have vast experience in loft extensions, when you need that extra spare bedroom or that
                            needed toilet/shower upstairs. </p>
                        <ul>
                            <li>Loft Extension/Conversion</li>
                            <li>Bathroom/en-suite</li>
                            <li>Wall Partioning</li>
                            <li>Staircases</li>
                            <li>Velux Skylights</li>
                            <li>Storage & Wardrobes</li>
                        </ul>
                        <a href="{% url 'contact' %}" class="btn btn-large">Make an
                            Enquiry</a>
                    </div>
                </div>
                <div class="info hide">
                    <div>
                        <img src="{% static 'media/chimney.jpg' %}" class="img-fluid" alt="Chimney image">
                    </div>
                    <h3>Chimney Removals</h3>
                    <div>
                        <p>Chimney removal brings more space and modern feel to obsolete and unused chimey breasts. You can benefit from better insulation and waterproofing, call today for a quotation.</p>
                        <ul>
                            <li>Top to bottom removal</li>
                            <li>Steels and Bracing</li>
                            <li>Roof Repair</li>
                            <li>Insulation</li>
                            <li>Plaster and Paint Finish</li>
                        </ul>
                        <a href="{% url 'contact' %}" class="btn btn-large">Make an
                            Enquiry</a>
                    </div>
                </div>
                <div class="info hide">
                    <div>
                        <img src="{% static 'media/waste.jpg' %}" class="img-fluid" alt="Waste image">
                    </div>
                    <h3>Waste Removals</h3>
                    <div>
                        <p>Our waste removal service is quick and easy. Call now to check availability and pricing. </p>
                        <ul>
                            <li>Furniture</li>
                            <li>Building Waste</li>
                            <li>Garage Clearance</li>
                            <li>Bricks and Rubble</li>
                            <li>Garden Waste</li>
                        </ul>
                        <a href="{% url 'contact' %}" class="btn btn-large">Make an
                            Enquiry</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}