{% extends "base.html" %}
{% block content%}

<div class="service-para">
    <div>
        <div class="container flex-center text-center">
            <div class="row">
                <div class="col-md-12 col-xl-8 services-title mx-auto">
                    <h1 class="display-3 font-weight-bold " data-wow-delay="0.3s">Services</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<section>
    <div class="container">
        <hr>
        <div class="intro">
            <h2>Our Services</h2>
            <p>We offer a range of services to suit all needs. Wether it's a refurbishment or a full build of an
                extension
                or
                loft conversion. We aim for the best quality of service in all we do. Below you can read more into the
                services
                we offer and find the one which is right for you. Feel free to contact us either via telephone email or
                fill
                in
                the contact form along with any plans or drawings for a quotation.</p>
        </div>
        <hr>
    </div>
</section>

<section class="serv-section">
    <div class="container">
        <div class="row">
            <div class="col-md-2 offset-md-1 col-sm-12  tab">
                <ul>
                    <li class="active-btn" onclick="showInfo(0, 'info')">
                        <button>Refrubishments</button>
                    </li>
                    <li class="" onclick="showInfo(1)">
                        <button>Extensions</button>
                    </li>
                    <li class="" onclick="showInfo(2)">
                        <button>Loft Conversions</button>
                    </li>
                    <li class="" onclick="showInfo(3)">
                        <button>Chimney Removals</button>
                    </li>
                    <li class="" onclick="showInfo(4)">
                        <button>Waste Removals</button>
                    </li>
                </ul>
            </div>
            <div class="col-md-7 col-sm-12 offset-md-1">
                <div class="info">
                    <div>
                        <img src="/media/plans.jpeg" class="img-fluid" alt="">
                    </div>
                    <h3>Refrubishments</h3>
                    <div>
                        <p>At Founder Property we do both itnernal and external refuirbishments ranging from gutting and
                            remodeling internally to painting and rendering externally. </p>
                        <ul>
                            <li>Plastering</li>
                            <li>Painting</li>
                            <li>Flooring</li>
                            <li>Rendering</li>
                            <li>Spotlights</li>
                            <li>Rewiring</li>
                        </ul>
                        <button class="btn btn-large">Request a Quote</button>
                    </div>
                </div>
                <div class="info hide">
                    <div>
                        <img src="/media/plans.jpeg" class="img-fluid" alt="">
                    </div>
                    <h3>Extensions</h3>
                    <div>
                        <p>We are experienced in rear and side extensions and even porches. Extensions can make a house
                            a home and provide that much wanted open plan living space. </p>
                        <ul>
                            <li>Porches</li>
                            <li>Rear Extensions</li>
                            <li>Side Extensions</li>
                            <li>Open Plan Living</li>
                            <li>Dream Kitchens</li>
                            <li>Resale Value</li>
                        </ul>
                        <button class="btn btn-large">Request a Quote</button>
                    </div>
                </div>
                <div class="info hide">
                    <div>
                        <img src="/media/plans.jpeg" class="img-fluid" alt="">
                    </div>
                    <h3>Loft Conversion</h3>
                    <div>
                        <p>We have vast experience in loft extensions, when you need that extra spare bedroom or that
                            needed toilet/shower upstairs. </p>
                        <ul>
                            <li>Loft Extension/Conversion</li>
                            <li>Additional Bathroom/en-suite</li>
                            <li>Additional Bedroom</li>
                            <li>Resale Value</li>
                            <li>Velux Skylights</li>
                            <li>Storage</li>
                        </ul>
                        <button class="btn btn-large">Request a Quote</button>
                    </div>
                </div>
                <div class="info hide">
                    <div>
                        <img src="/media/plans.jpeg" class="img-fluid" alt="">
                    </div>
                    <h3>Chimney Removals</h3>
                    <div>
                        <p>We have vast experience in loft extensions, when you need that extra spare bedroom or that
                            needed toilet/shower upstairs. </p>
                        <ul>
                            <li>More Space</li>
                            <li>Modern Feel</li>
                            <li>Better Insulation</li>
                            <li>Plaster and Paint Finish</li>
                            <li>Top to bottom removal</li>
                        </ul>
                        <button class="btn btn-large">Request a Quote</button>
                    </div>
                </div>
                <div class="info hide">
                    <div>
                        <img src="/media/plans.jpeg" class="img-fluid" alt="">
                    </div>
                    <h3>Waste Removals</h3>
                    <div>
                        <p>We also offer waste removals. our dedicated team will remove all your unwatnted
                            furtniture/scrap or rubble. Call now to book. </p>
                        <ul>
                            <li>More Space</li>
                            <li>Modern Feel</li>
                            <li>Better Insulation</li>
                            <li>Plaster and Paint Finish</li>
                            <li>Top to bottom removal</li>
                        </ul>
                        <button class="btn btn-large">Request a Quote</button>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}