{% extends "base.html" %}
{% load static %}
{% block content%}

<div>
    <div class="service-para">
        <div class="container flex-center text-center">
            <div class="row">
                <div class="col-md-12 col-xl-8 services-title mx-auto">
                    <h1 class="display-3 font-weight-bold " data-wow-delay="0.3s">Services</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<section>
    <div class="container">
        <hr>
        <div class="intro">
            <h3>What We Offer</h3>
            <p>
                We have a knack for identifying suitable land with potential, we then secure planning to build wonderful
                homes. We strive to deliver a service which not only provides more housing but also transform land to
                fit the surrounding area and turn it into a wonderful space.
            </p>
        </div>
        <hr>
    </div>
</section>

<section class="serv-section">
    <div class="container">
        <div class="card">
            <div>
                <h5 class="card-title">Before</h5>
            </div>
            <div class="row g-0">
                <div class="col-md-3 offset-md-1">
                    <img src="{% static 'media/cromwell-before.jpg' %}" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <p class="text-center">Cromwell Road project, a semi-detatched house we spotted with great
                            potential
                            for
                            growth. We
                            secured
                            the property and worked on planning for a side, rear and loft extensions. The house was
                            completely
                            gutted and rebuilt from the bottom up. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div>
                <h5 class="card-title">After</h5>
            </div>
            <div class="row g-0 d-flex">
                <div class="col-md-8 ">
                    <div class="card-body">
                        <p class="text-center">We completely transformed this end of terrance house which is now barely
                            recognisable. We installed
                            three large flat skylights in the six meter rear extension, which were complimented by a
                            five meter
                            aluminium bifolding doors. This brought in that much needed light and view into the
                            property. The
                            living room now opens up into a large open-space kitchen/diner. </p>
                    </div>
                </div>
                <div class="col-md-3 ">
                    <img src="{% static 'media/cromwell-after.jpg' %}" class="img-fluid rounded-end" alt="...">
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <hr>
        <div class="intro">
            <h3>Our Building Services</h3>
            <p>
                We provide private building services for residential and commercial properties. Please see below from
                the list of work that we offer.
            </p>
        </div>
        <hr>
    </div>
</section>

<section class="serv-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 offset-md-1 col-sm-12  tab">
                <ul>
                    <li class="active-btn" onclick="showInfo(0, 'info')">
                        <button>Refrubishments</button>
                    </li>
                    <li class="" onclick="showInfo(1)">
                        <button>Extensions</button>
                    </li>
                    <li class="" onclick="showInfo(2)">
                        <button>Loft Conversions</button>
                    </li>
                    <li class="" onclick="showInfo(3)">
                        <button>Chimney Removals</button>
                    </li>
                    <li class="" onclick="showInfo(4)">
                        <button>Waste Removals</button>
                    </li>
                </ul>
            </div>
            <div class="col-md-7 col-sm-12 offset-md-1">
                <div class="info">
                    <div>
                        <img src="{% static 'media/refurbishment.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <h3>Refrubishments</h3>
                    <div>
                        <p>At Founder Property we do both itnernal and external refuirbishments ranging from gutting and
                            remodeling internally to painting and rendering externally. </p>
                        <ul>
                            <li>Plastering</li>
                            <li>Painting</li>
                            <li>Flooring</li>
                            <li>Rendering</li>
                            <li>Spotlights</li>
                            <li>Rewiring</li>
                        </ul>
                        <a href="{% url 'contact' %}" class="btn btn-large">Request a Quote</a>
                    </div>
                </div>
                <div class="info hide">
                    <div>
                        <img src="{% static 'media/extension.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <h3>Extensions</h3>
                    <div>
                        <p>We are experienced in rear and side extensions and even porches. Extensions can make a house
                            a home and provide that much wanted open plan living space. </p>
                        <ul>
                            <li>Porches</li>
                            <li>Rear Extensions</li>
                            <li>Side Extensions</li>
                            <li>Open Plan Living</li>
                            <li>Dream Kitchens</li>
                            <li>Resale Value</li>
                        </ul>
                        <a href="{% url 'contact' %}" class="btn btn-large">Request a Quote</a>
                    </div>
                </div>
                <div class="info hide">
                    <div>
                        <img src="{% static 'media/loft.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <h3>Loft Conversion</h3>
                    <div>
                        <p>We have vast experience in loft extensions, when you need that extra spare bedroom or that
                            needed toilet/shower upstairs. </p>
                        <ul>
                            <li>Loft Extension/Conversion</li>
                            <li>Additional Bathroom/en-suite</li>
                            <li>Additional Bedroom</li>
                            <li>Resale Value</li>
                            <li>Velux Skylights</li>
                            <li>Storage</li>
                        </ul>
                        <a href="{% url 'contact' %}" class="btn btn-large">Request a Quote</a>
                    </div>
                </div>
                <div class="info hide">
                    <div>
                        <img src="{% static 'media/chimney.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <h3>Chimney Removals</h3>
                    <div>
                        <p>We have vast experience in loft extensions, when you need that extra spare bedroom or that
                            needed toilet/shower upstairs. </p>
                        <ul>
                            <li>More Space</li>
                            <li>Modern Feel</li>
                            <li>Better Insulation</li>
                            <li>Plaster and Paint Finish</li>
                            <li>Top to bottom removal</li>
                        </ul>
                        <a href="{% url 'contact' %}" class="btn btn-large">Request a Quote</a>
                    </div>
                </div>
                <div class="info hide">
                    <div>
                        <img src="{% static 'media/waste.jpg' %}" class="img-fluid" alt="">
                    </div>
                    <h3>Waste Removals</h3>
                    <div>
                        <p>Our waste removal service is quick and easy. Call now to check availability.  </p>
                        <ul>
                            <li>Furniture</li>
                            <li>Building Waste</li>
                            <li>Garage Clearance</li>
                            <li>Bricks and Rubble</li>
                            <li>Garden Waste</li>
                        </ul>
                        <a href="{% url 'contact' %}" class="btn btn-large">Request a Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}